/* Navegación */
// Estilos generales
$color-fondo: #333;
$color-texto: #fff;
$color-hover: #ff9900;
$padding-vertical: 10px;
$padding-horizontal: 20px;

/* Estilos del menú de navegación*/
.navbar {
  background-color: $color-fondo;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  
  .ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
    .li {
      margin: 0;
      padding: 0;
      display: inline;
      
      .a {
        color: $color-texto;
        text-decoration: none;
        padding: $padding-vertical $padding-horizontal;
        
        &:hover {
          color: $color-hover;
        }
      }
    }
  }
}