/* Navegación */
// Estilos generales
$color-fondo: #333;
$color-texto: #fff;
$color-hover: #ff9900;
$padding-vertical: 10px;
$padding-horizontal: 20px;

/* Estilos del menú de navegación*/
.navbar {
  background-color: $color-fondo;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  
  .ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
    .li {
      margin: 0;
      padding: 0;
      display: inline;
      
      .a {
        color: $color-texto;
        text-decoration: none;
        padding: $padding-vertical $padding-horizontal;
        
        &:hover {
          color: $color-hover;
        }
        /* Establece el tamaño de la portada */

  .encabezado-img{
   
    width: 100%; /* Establece el ancho al 100% del contenedor */
  height: auto; /* Autoajusta la altura para mantener la proporción original */
  max-height: 400px; /* Establece una altura máxima para evitar que la imagen sea demasiado grande */
  object-fit: cover; /* Recorta la imagen para que llene el contenedor sin deformarla */
}

/* Establece un contenedor para la imagen de portada (opcional) */
/* Estilo para la imagen principal */
img {
  max-width: 100%;
  max-height: 400px;
  /* Puedes ajustar estos valores según tus necesidades */
}


}
}

    
        }
      }
    
  
  