nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  nav li {
    margin: 20px;
    padding: 10px;
  }
  
  a {
    text-decoration: none;
    color: #fff; /* Color de enlace del menú */
    font-weight: bold; /* Estilo de fuente en negrita */
    transition: color 0.3s; /* Transición suave del color de enlace */
    margin: 20px;
    padding: 10px;
  }
  
  nav a:hover {
    color: #e74c3c;
  }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; /* Oculta el menú principal en dispositivos móviles */
    }
  
    /* Estilos para el menú desplegable en dispositivos móviles */
    .menu-mobile {
      display: block; /* Muestra el menú desplegable en dispositivos móviles */
    }
  }
  
  .show-menu {
    display: block;
  }
  
  /* Estilos para los elementos del menú desplegable */
  .menu ul {
    list-style-type: none;
  }
  
  .menu li {
    padding: 10px;
    text-align: center;
    background-color: #333;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .menu li:hover {
    background-color: #444;
  }
  