/* Navegación */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  nav a:hover {
    color: #e74c3c;
  }
  
  